# Required Packages for Producer-Consumer Project

# Standard C++ Libraries
<iostream> - basic I/O
<thread> - threading
<cstring> - C++ string manipulation

#POSIX Libraries
<semaphore.h> - semaphores
<fcntl.h> - file control
<sys/mman.h> - memory management
<unistd.h> - access to POSIX APIs for shared memory

## macOS:
- g++ compiler (comes with Xcode Command Line Tools): `xcode-select --install`
- POSIX threads (pthreads), shared memory, and semaphores (native to macOS)

## Ubuntu:
- g++ compiler: `sudo apt install g++`
- POSIX threads (pthreads), shared memory, and semaphores: Install `libc6-dev`, `libpthread-stubs`, and `librt` libraries.

# Compilation Flags:
- -pthread
- -lrt (for Ubuntu only)